__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg
*.swp
*.swo
*~
.ipynb_checkpoints
venv/
Simulation/Result/
Simulation/Data/Result/
Simulation/Data/ResultMultiple/
Simulation/Data/ResultComplete/
Application/Runtime
Application/ConfidenceSets
Simulation/Data/Simulation